{% extends "base.html" %} {% block content %}

    <section class="cafe-list">
        {% for cafe in cafes %}
            <div class="cafe-card">
                <h1>{{ cafe.name }}</h1>
                    <img src="{{ cafe.img_url }}">
                    <ul>
                        <li>📍{{ cafe.location }}📍</li>
                        <!-- <div class="map-container">
                            <iframe width="150" height="150" frameborder="0" style="border:0" src="{{ cafe.map_url }}" allowfullscreen></iframe>
                        </div> -->
                        {% if cafe.has_sockets == 1 %}
                            <li>🔌Has sockects🔌</li>
                        {% endif %}
                        {% if cafe.has_wifi == 1 %}
                            <li>🛜Has free wifi🛜</li>
                        {% endif %}
                        {% if cafe.can_take_calls == 1 %}
                            <li>📱You can take calls📱</li>
                        {% endif %}
                        <li>Avg. seats: {{ cafe.seats }}</li>
                        <li>☕Avg. price: {{ cafe.coffe_price }}☕</li>
                        <li><a href="{{ url_for('delete_cafe', caffee_id=cafe.id)}}"><button>Delete</button></a></li>
                    </ul>
            </div>
        {% endfor %}
    </section>

{% endblock %}
