<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafes for Remote Work</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>

    <header>
        <h1>Cafes for Remote Work</h1>
    </header>

    <section class="cafe-list">
        {% for cafe in cafes %}
            <div class="cafe-card">
                <h1>{{ cafe.name }}</h1>
                    <img src="{{ cafe.img_url }}">
                    <ul>
                        <li>📍{{ cafe.location }}📍</li>
                        <!-- <div class="map-container">
                            <iframe width="150" height="150" frameborder="0" style="border:0" src="{{ cafe.map_url }}" allowfullscreen></iframe>
                        </div> -->
                        {% if cafe.has_sockets == 1 %}
                            <li>🔌Has sockects🔌</li>
                        {% endif %}
                        {% if cafe.has_wifi == 1 %}
                            <li>🛜Has free wifi🛜</li>
                        {% endif %}
                        {% if cafe.can_take_calls == 1 %}
                            <li>📱You can take calls📱</li>
                        {% endif %}
                        <li>Avg. seats: {{ cafe.seats }}</li>
                        <li>☕Avg. price: {{ cafe.coffe_price }}☕</li>
                    </ul>
            </div>
        {% endfor %}
    </section>

</body>
</html>
